name: kipolis_core
description: Core shared components, themes, and services for KIPOLIS apps.
version: 0.0.1
publish_to: 'none'

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.2
  geolocator: ^14.0.2
  shared_preferences: ^2.3.5
  flutter_dotenv: ^5.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
